USER SHOW / VISIBLE MESSAGES

<div class="container">
  <div class="row">
    <div class="col s4">
      <%= render 'shared/sidebar' %> 
    </div>
    <div class="col s8">
      SEND MESSAGES

      <%= form_tag user_messages_url(user_id: @user.id) do %>
        <%= text_field_tag :content %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= submit_tag %>
      <% end %>

      MAIN CONTENT

      <%= @messages.count %>
    </div>
  </div>
</div>